
body{
    margin: 15%;
    background-color: #6600ff;
    ;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-container{
    display: flex;
    justify-content: center;

}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    color: whitesmoke;
}

.count{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;

}

.btn{
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 35px 20px;
    font-size: 25px;
    border-radius: 15px;
    
}
